@media only screen and (min-width: 1360px) {

}
@media only screen and (max-width: 1360px) {

}

html, body {  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

* {
  box-sizing: inherit;
  -webkit-transition: 0.7s;
  /* Safari */
  transition: 0.7s;
}

nav {    
  display: block;
  margin: 0px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
}
nav .nav-button {
  float: right;
  height: 100%;
  margin: 1em;
}
nav .nav-button button {
  border: none;
  border-radius: 5px;
  background-color: inherit;
  color:#eee;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  outline: none;
}
nav .nav-button button:hover {
  background-color: #151515;  
  transition: background-color .5s;
}
nav ul {  
  clear: both;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  color: #f1f1f1;
  display: block;
  padding: 30px 0px;
  font-size: 150%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
nav ul li a:hover {
  color: #555;
  background-color: #eee;
}
.main {
  background: -moz-linear-gradient(45deg, #4BDED9 0%, #287875 99%);
  background: -webkit-linear-gradient(45deg, #4BDED9 0%, #287875 99%);
  background: linear-gradient(45deg, #201f1f 0%, #093375 99%);  
  min-height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.main .my-name{
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  margin: 0;
  padding: 100px 0;
}
.main .wrapper-apps{ 
  height: 1000px;
}
.main .row-display{
  width:100%;
  margin: 50px 0px;
  text-align: center;
}
.main .row-display .canvas{
  height:500px;
  width: 100%;
  display: inline-block;
  cursor: none; 
}

.main .row-display .canvas canvas{
  background-color: black;
}
