body{
display: block;

}
*{

}
h1{
  color:black;
  text-align: center;
}
li a:hover{
  color: green!important;
}
.projects img{
  margin-left: 50px;
  display: inline;
  height: 200px;
}
.header{
  text-align:left;
  margin-left: 250px;
}
.links{
  margin-left: 50px;
  background-color: #999999;
  padding-right: 40px;
}
li{
  text-align: left;
  color:red;
}
ul{
  overflow: hidden;
  list-style-type: none;
}
.desc{
  margin-left: 50px;
  text-align: center;
}
.images{
  margin-left: 200px;
}
#frame{
  width: 600px;
  height: 500px;
}
