@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
html, body {
  display: block;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

* {
  -webkit-transition: 0.7s;
  /* Safari */
  transition: 0.7s;
}

body {
  font-family: Lato, sans-serif;
  font-size: 16px;
  background: -moz-linear-gradient(45deg, #4BDED9 0%, #287875 99%);
  background: -webkit-linear-gradient(45deg, #4BDED9 0%, #287875 99%);
  background: linear-gradient(45deg, #4BDED9 0%, #093375 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4BDED9", endColorstr="#517F7E",GradientType=1 );
  min-height: 100%;
  margin: 0px;
  width: 100%;
}

nav {
  background-color: #27282b;
  display: block;
  margin: 0px;
  width: 100%;
}
nav .header-title {
  padding-top: 10px;
  height: 80px;
}
nav .header-title a {
  color: #f1f1f1;
  float: left;
  font-size: 300%;
  margin-left: 50px;
  text-decoration: none;
}
nav .header-title a:hover {
  color: #aaa;
}
nav .header-title button {
  float: right;
  background-color: #27282b;
  color: white;
  cursor: pointer;
  padding: 25px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-right: 50px;
  margin-top: 5px;
}
nav .header-title button:hover {
  background-color: #555;
}
nav .header-title button:after {
  content: "+";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
nav ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  color: #f1f1f1;
  display: block;
  padding: 30px 0px;
  font-size: 150%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
nav ul li a:hover {
  color: #555;
  background-color: #eee;
}
.main .jumbo {
  color: #f1f1f1;
  font-size: 350%;
  margin: 250px 120px;
  padding: 50px;
  text-align: center;
}
.main .about-me {
  background-color: #eee;
  clear: both;
  height: auto;
  overflow: hidden;
  padding: 50px 50px;
}
.main .about-me .about-me-image {
  float: left;
  margin: 0;
  width: 30%;
}
.main .about-me .about-me-image img {
  display: inline;
  height: 200px;
  border-radius: 50%;
}
.main .about-me .about-me-text {
  display: inline;
  float: left;
  line-height: 1.6;
  width: 60%;
  text-align: left;
}
.main canvas {
  display: inline-block;
  background-color: #000;
  margin: 0;
}
.main .projects {
  padding-bottom: 40px;
  display: inline-block;
  text-align: center;
  background-color: #eee;
  margin: 0px;
  margin-top: -5px;
  width: 100%;
}
.main .projects .title {
  font-size: 250%;
  color: #555;
  margin-bottom: 30px;
  margin-top: 15px;
  font-family: Roboto Mono, monospace;
}
.main .projects .project-image {
  margin-left: 25px;
  margin: 25px;
  display: inline-block;
  color: #f1f1f1;
  border-radius: 7px;
  padding-bottom: 10px;
  width: 40%;
}
.main .projects .project-image .group img {
  display: inline-block;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main .projects .project-image .group .image-text {
  background-color: #555;
  border-radius: 5px;
  padding: 4px;
}
.main .projects .project-image .group .image-text:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.footer {
  background-color: #27282b;
  width: 100%;
  z-index: 100;
  height: 100px;
  color: #eee;
  text-align: center;
  padding-top: 65px;
  font-size: 20px;
  font-family: Lato, sans-serif;
}
.footer a {
  color: #27282b;
  text-decoration: none;
  background-color: #eee;
  padding: 15px;
}

/*# sourceMappingURL=main.css.map */
